/**/
.aiosrs-rating-wrap {
    display: none !important;
}
/**/

.group-trip-dates-templates{
	font-size: 24px;
	font-weight: 300;
}
.group_trips-container {
    display: flex;
    flex-wrap: wrap;
}
.group_trips-item {
    max-width: 23%;
	min-width: 23%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}
.group_trips-item_excluded{
	min-height: 300px;
	background: #ffffff !important;
}
.group_trips-item-image a img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.group_trips-item-image_excluded {
    min-height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.group_trips-item-title a h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 15px;
    text-align: center;
    color: #021499;
}
.group_trips-item_excluded > .group_trips-item-title > a > h3{
	color: #000000 !important;
    font-size: 23px !important;
}
.group_trips-item-description-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding: 15px;
}
.group_trips-item-description-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1px 0;
    flex-wrap: wrap;
}
.group_trips-item-description-title{
	width: 40%;
}
.group_trips-item-description-content{
	width: 60%;
	padding-left: 5px;
}
.group_trips-item-view {
    min-width: 100%;
    padding: 15px;
}

.group_trips-item-view a {
    min-width: 100%;
    padding: 5px;
    background: #021499;
	border: solid 2px #021499;
    color: #ffffff;
    font-weight: 100;
    border-radius: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
	transition: color .7s, background .7s;
}
.group_trips-item-view a:hover {
	background: #ffffff;
    color: #021499 !important;
	transition: color .7s, background .7s;
}

.group-trip-homepage-item a {
    display: flex;
    flex-wrap: wrap;
	padding: 15px;
}
.group-trip-homepage-item-image{
	width: 30%;
}
.group-trip-homepage-item a .group-trip-homepage-item-image img{
	max-width: 120px;
	max-height: 120px;
	border-radius: 200px;
}
.group-trip-homepage-item-text{
	width: 70%;
}
.link-decoration{
	color: #2b7bb9;
}
.link-decoration:hover{
	cursor: pointer;
}

.group_trips_calendar-content label {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 5px;
    line-height: 1;
}

.group_trips_calendar-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 14px;
    color: #333333;
	text-align: left;
}
tr.group_trips_calendar-sidebar td {
    align-content: flex-start;
	padding: 10px;
}
.group_trips_calendar-content ul {
    /* list-style: none; */
    margin-left: 0;
    padding-left: 10px;
}

/*Front page, Bliss Cruises*/
.group_trips-homepage-container {
    display: flex;
    flex-direction: column;
}
.group_trips-homepage-item a{
	display: flex;
	flex-wrap: wrap;
	padding: 20px ;
	background: transparent;
	border-radius: 0;
	transition: background .9s, border-radius .9s;
}
.group_trips-homepage-item a:hover{
	background: #edfafb;
	border-radius: 20px;
	transition: background .9s, border-radius .9s;
}
.group_trips-homepage-item-image{
	width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.group_trips-homepage-item-image img{
	max-width: 120px;
	max-height: 120px;
	width: 120px;
	height: 120px;
	border-radius: 200px;
}
.group_trips-homepage-item-text{
	width: 70%;
	display: flex;
	flex-direction: column;
}
.group_trips-homepage-item-text h3{
	font-size: 20px;
	font-weight: 400;
	text-align: left;
}
/*.group_trips-homepage-item-text span{
	background: #0002b2 !important;
	padding: 5px 20px !important;
	border-radius: 50px !important;
	color: #ffffff !important;
	width: fit-content;
}*/
/*Group trip calendar*/
table.group_trips_calendar {
    border: solid 2px #0114ff;
	border-radius: 10px !important;
	
}
table.group_trips_calendar > tbody > tr > th {
	font-size: 18px;
	padding: 10px;
	color: #000000;
	text-align: center;
	font-weight: 500 !important;
}
table.group_trips_calendar > tbody > tr > td{
	text-align: center;
	padding: 15px 10px;
	font-size: 16px;
}
table.group_trips_calendar > tbody > tr:nth-child(odd) {
    background-color: #f2f2f2; /* Puedes cambiar este color a lo que prefieras */
	/*border-bottom: solid 1px #0114ff;
	border-top: solid 1px #0114ff;*/
}

.calendar-container{
    background: #2b7bb9;
    max-height: 60px;
    max-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
img.calendar{
	width: 80px !important;
	max-width: 80px !important;
}
.categories_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
}
.categories_link_item {
	width: fit-content;
	max-width: fit-content;;
	min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.categories_link_item > a {
    background: #071399;
    color: #ffffff;
    padding: 10px 0;
    min-width: 100%;
    border-radius: 10px;
    text-align: center;
	transition: color .9s, background .9s;
	border: solid 1px #071399;
	font-size: 16px !important;
}
.get-posts, #all, .calendar{
	padding: 10px 30px !important;
	min-height: 60px;
}

.categories_link_item > a:hover{
	background: #ffffff;
    color: #071399 ;
	transition: color .9s, background .9s;
}
.group_trips-container {
    color: transparent;
}
.group_trips-item {
    color: #333333;
}

#loading {
   position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#loading > img{
	position: absolute;
	left: 0;
	top: 0;
	bottom:0;
	right: 0;
	margin: auto;
	max-width: 100px;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media(max-width: 768px){
	.nude-cruises-responsive > .fl-module-content > h3.fl-heading > a,
	.group_trips-homepage-item-text > span{
		font-weight: 500;
		font-size: 18px;
		text-transform: none;
		border: 1px solid #0000a6;
		background-color: #0002b2;
		color: #ffffff;
		width: 100%;
		text-align: center;
		border-radius: 50px;
		height: 47.52px;
		display: flex;
        justify-content: center;
        align-items: center;
	}
	
	.group_trips-homepage-item-image,
	.group_trips-homepage-item-text{
		width: 100% !important;
	}
.group_trips-homepage-item-image img{
		max-width: 150px;
		max-height: 150px;
		width: 150px;
		height: 150px;
		border-radius: 300px;
	}
	.group-trip-dates-templates{
	font-size: 16px;

	}
	.group_trips_calendar_container{
		width: 100%;
		overflow-x: scroll;
	}
	.group_trips-container {
		padding: 0 20px 0 0;
	}
	.group_trips-item {
		max-width: 100%;
		min-width: 100%;
	}
	.categories_link_item {
		min-width: 50%;
		width: 50%;
		max-width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}
}

/* Front/Home header positioning previously injected inline */
body.home header.fl-builder-content.fl-builder-content-22800,
body.blog header.fl-builder-content.fl-builder-content-22800 {
	position: absolute;
	z-index: 10;
}